.header {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid gray;
  padding: 1em 2em;
}

.nav {
  display: flex;
  border: 1px solid black;
  border-radius: 3px;
}

.nav-item {
  min-width: 80px;
  text-align: center;
  padding: 0.2em 0;
}

.nav-center {
  border-right: 1px solid black;
  border-left: 1px solid black;
}

section#home {
  display: flex;
  align-items: center;
  flex-direction: column;
}
section#home h3 {
  display: flex;
  align-items: center;
  flex-direction: column;
  color: gray;
}
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.main-left {
  flex-basis: 50%;
  padding: 1rem;
}

.main-left img {
  max-width: 100%;
}

.main-left p {
  margin-top: 1rem;
}

.main-right {
  flex-basis: 40%;
  padding: 1rem;
}

.main-right h2 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.main-right label {
  display: block;
  margin-top: 1rem;
}

.main-right input,
.main-right textarea,
.main-right select {
  width: 100%;
  padding: 0.5rem;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-top: 0.5rem;
}

.main-right button {
  display: block;
  margin-top: 1rem;
  background-color: black;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
}

.main-right button:hover {
  background-color: #3e8e41;
}

.main-left img {
  width: 70%;
  padding-left: 2em;
}
